{% extends "theme_bootstrap/base.html" %}

{% load staticfiles %}
{% load metron_tags %}
{% load leaflet_tags %}

{% load i18n %}

{% block style_base %}
    <link href="{% static "css/site.css" %}" rel="stylesheet">
    {% block extra_style %}<link href="{% static "css/styles.css" %}" rel="stylesheet">{% endblock %}

{% endblock %}


{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
    <script src="{{ STATIC_URL }}js/sonic_bike.js"></script>
{% endblock %}


{% block footer %}
    {% include "_footer.html" %}
{% endblock %}


{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
