{% extends "site_base.html" %}
{% load leaflet_tags %}

{% load i18n %}


{% block head_title %}Sonic Bikes{% endblock %}

{% block body_class %}Add a Tag{% endblock %}

{% block body_base %}
    {% include "_messages.html" %}
    <div class="container container-map">
        
        <h3 class="text-center">{% blocktrans %}Sonic Bike Mapping{% endblocktrans %}</h3>

        <div class="row">
        	<div class="col-lg-6">
	        	<h3>Add a new Tag</h3>
	        </div>
	    </div>

	    <div class="row">
        	<div class="col-lg-6">
		    <form action="/tag-form/" method="post">
			    {% csrf_token %}
			    {{ form }}
			    <input type="submit" value="Submit" />
			</form>
			</div>
		</div>

		<div class="row">
			<hr/>
		</div>

		<div class="row">
			<div class="col-lg-6">
				<h4>Existing Tags</h4>
			</div>
		</div>
		<div class="row">
			<div class="tag-list">
				<ul>
					{% if tags %}
					{% for tag in tags %}
						<li><strong>{{ tag.name }}</strong>: <i>{{ tag.description }}</i> <a href="/delete/tag/{{ tag.id }}"><span class="fa fa-trash-o"></span></a></li>
						{% endfor %}
					{% else %}
						<em> No Tags Yet </em>
					{% endif %}

				</ul>
			</div>
		</div>
	</div>

	<script>
    	current_user = '{{user.id}}';
    </script>



{% endblock %}