.navbar {
	background: #9DA3A4;
}


.navbar-default .navbar-brand {
	color: #333333;
}

.container-map {
	width: 100%;
	height: 100%;

}

.container-map,
#main {
	min-height: 550px;
	width: 100%;
	height: 100%;
}

.leaflet-container,
.leaflet-container-default {
	min-height: 800px;
}